
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
button {
    border: none;
    background: none;
    -webkit-tap-highlight-color: transparent;
}
button img {
    width: inherit;
    height: inherit;
    object-fit: contain;
}
button:active {
    transform: scale(0.95);
}
input {
    border: none;
    outline: none;
    padding: 5px;
}


.toggle_theme_btn {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 15px;
}

